@model Ecommerce.WebApp.ViewModels.KategoriViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Create Kategori</h4>
<hr />
<div class="container-xxl flex-grow-1 container-p-y">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="NamaKategori" class="control-label"></label>
                <input asp-for="NamaKategori" class="form-control" />
                <span asp-validation-for="NamaKategori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deskripsi" class="control-label"></label>
                <input asp-for="Deskripsi" class="form-control" />
                <span asp-validation-for="Deskripsi" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                        <label asp-for="IconFile" class="control-label"></label>
                        <input asp-for="IconFile" type="file" class="form-control" />
                        <span asp-validation-for="IconFile" class="text-danger"></span>
                    </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </form>
    </div>   

<div>
    <a asp-action="Index">Back to List</a>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}